.header {
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.header a {
    color: #2e2f42;
}
.header nav {
    font-weight: 500;
}

.header address {
    font-style: normal;
}

.header nav:hover,
.header address:focus {
    color: #404BBF;
}
