header {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #434455;
}

ul {
    list-style: none;
}

a:hover,
button:hover,
a:focus,
button:hover {
    color: #404BBF;
}

a:active {
    text-decoration: underline;
}

header > a {
    text-transform: uppercase;
}