.hero {
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.07;
    background-color: #2E2F42; 
    letter-spacing: 0.02em;
}

.hero button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.hero button:focus,
.hero button:hover {
    background-color: #404BBF;
}
